.teste
{
	width: 400px;
	height: 400px;
	text-align: center;
	margin:5% 0 0 35%;
	background-color: #D3CDCD;
	border-radius: 10px;
}

.teste label
{
	margin-top: 10px;
}

body
{
	background:url("c.png")no-repeat;
	webkit-background-size:cover;
	background-size: cover;
}